

h1
{
    color:white;
    font-size:3.5rem;
}

.adjust-image
{
    width:120px;
    margin-top:50px;
}

button
{
    padding:30px 60px;
    font-size: 2rem;
    background:grey;
    color:white;
}

input[type="image"]
{
    width:80px;
    float:right;
    padding:20px;
}




.main-container
{
    width:700px;
    height:500px;
    border:1px solid red;
    margin-left:auto;
    margin-right:auto;
    position:relative;

}
.first-screen-container
{
    border:1px solid blue;
    width:700px;
    height:500px;
    position:absolute;
    z-index:2;
    background:beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:1;
    transition: opacity 0.5s ease-out;
    
}

.modal-window
{
    border:1px solid green;
    width: 700px;
    height:500px;
    position:absolute;
    z-index: 1;
    background:purple;
    margin-left:auto;
    margin-right:auto;
    opacity: 0;
    transition:opacity 0.5s ease-out;
    
}

.open-modal-window .modal-window
{
    z-index: 2;
    opacity: 1;
}
.open-modal-window .first-screen-container
{
    z-index: 1;
    opacity: 0;
}

.modal-window-container
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top:120px;
   border:1px solid red;

}

.point-hand
{
    animation: point-hand-animation 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    margin-top:0px; 
    
}

.wave-hand
{
    transform-origin: bottom center;
    animation: waving-hand-animation 2s ease-out;
}

@keyframes point-hand-animation
{
    0%
    {
        opacity:0;
        transform: translateY(5rem);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0); 
    }


}

@keyframes waving-hand-animation
{
    0%
    {
        transform:rotate(0);
    }
    20%
    {
        transform:rotate(15deg);
    }
    40%
    {
        transform: rotate(-15deg)
    }
    60%
    {
        transform: rotate(15deg)
    }
    80%
    {
        transform: rotate(-15deg)
    }
    100%
    {
        transform:rotate(0);
    }
}